html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular',
    sans-serif;
}

body {
  background-color: #e9ebee;
  margin: 0;
  color: #333;
}

button {
  all: unset;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}
